$cb_scheme_color:#8a2ae2;
$cb_msg_color:#000;


.cookieBubble  {
    position: absolute;
    width: 400px;
    min-height: 100px;
    bottom: 10px;
    left: 10px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
    display:none;
    padding:20px 15px;
    z-index:9999;
    
    //cookieBubble wrapper
    .cb-wrapper {
        position: relative;
        display: inline-block;
        
        .cb-row {
            position: relative;
            display: flex;

                .cb-image {
                    padding-right: 23px;
                        .cookie-inner {
                            fill:$cb_scheme_color;
                        }
                        svg {
                            width:75px;
                        }
                }

                span {
                    color:$cb_msg_color; //default color
                    font-size: 18px;
                    margin-top:0px;   
                    display:inline-block;     
                }
                
                .gotit-btn {
                    margin:0px;
                    padding:0px;
                    text-decoration:none;
                    color:#fff;
                    background:$cb_scheme_color; //Default Color
                    padding:10px  20px;
                    display:inline-block;
                    border-radius:100px;
                    font-size: 14px;
                    margin-top:15px;
                    opacity:.95;   
                        &:hover {
                            opacity:1;
                        }
                }  
        }
    }

}



@keyframes animation1 {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }

}
